# auth
AUTH_SECRET=
NEXT_PUBLIC_APP_URL=http://localhost:3000
BETTER_AUTH_URL=http://localhost:3000
CAN_REGISTER=true

# db (PostgreSQL)
DATABASE_URL=postgres://user:password@localhost:5432/db-name
# or per-variable:
# PG_HOST=127.0.0.1
# PG_PORT=5432
# PG_DATABASE=db-name
# PG_USER=****
# PG_PASSWORD=****
# PG_CONNECTION_LIMIT=10

# resend
RESEND_API_KEY=****

# social login
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

APPLE_CLIENT_ID=
APPLE_CLIENT_SECRET=
APPLE_TEAM_ID=
APPLE_KEY_ID=
APPLE_PRIVATE_KEY=

# stripe
# STRIPE_SECRET_KEY=
# NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=
# STRIPE_WEBHOOK_SECRET=

# pusher
PUSHER_APP_ID=
PUSHER_KEY=
PUSHER_SECRET=
PUSHER_CLUSTER=
PUSHER_USE_TLS=

# queue
# sync to disable qstash
QUEUE_DRIVER=qstash
QSTASH_URL=
QSTASH_TOKEN=
QSTASH_CALLBACK_URL=
QSTASH_CURRENT_SIGNING_KEY=
QSTASH_NEXT_SIGNING_KEY=
