# auth
AUTH_SECRET=
NEXT_PUBLIC_APP_URL=http://localhost:3000
BETTER_AUTH_URL=http://localhost:3000


# db
MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306
MYSQL_DATABASE=db-name
MYSQL_USER=****
MYSQL_PASSWORD=****

# resend
RESEND_API_KEY=****